<p>
  <strong>Title:</strong>
  <%= @secondseason.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @secondseason.text %>
</p>

<h2>Episodes</h2>
<%= render @secondseason.second_season_episodes %>

<h2>Add an episode:</h2>
<%= render "second_season_episodes/form" %>

<h2>Comments</h2>
<%= render @secondseason.posts %>

<h2>Add a comment:</h2>
<%= render "posts/form" %>

<%= link_to 'Back', secondseasons_path %>
| <%= link_to 'Edit', edit_secondseason_path(@secondseason) %>
